
.el-button--primary {
  margin-left: 200%;
  background: #278BFF;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.50);
  border-radius: 2px;
  font-size: 13px;
  color: #FFFFFF;
  width: 100px;
}
.box{
  padding:20px;
}
.box h1{
  text-align: left;
  font-size: 16px;
  color: #FFFFFF;
}
.settings{
  max-width: 100%;
  margin:2%;
  background: #3D4E66;
  box-shadow: 0 0 8px 0 rgba(5,5,5,0.50);
  padding:10px 20px;
  border-radius: 10px;
}
.el-form h2{
  text-align:left;
  padding:10px 20px;
  border-bottom: 1px solid #314158;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.25px;
}
.el-form h3{
  color: #fff;
  text-align:left;
  padding:10px 20px;
  border-bottom: 1px solid #314158;
}
.el-form-item{
  text-align: left;
}
.el-form-item__label{
  width: 118px !important;
  font-size: 16px;
  color: #FFFFFF
}
.left{
  width: 45%;
}
.right{
  width: 45%;
  margin-left: 9%;
}
.sd{
  font-size: 16px;
  color: #FFFFFF;
  text-align: left;
  margin-left: 5%;
}
.minner{
  margin-left: 5px;
}
label{
  color: #fff;
  margin-right:0px;
}
.el-input{
}
.el-form-item__content{
  margin-left: 20% !important;
}
.years{
  width: 50%;
}
.el-form-item__label{
  width: 150px !important;
}
.night{
  margin-top: 10px;
}
.el-input__icon {
  display: none;
}
.el-input__inner{
  height: 20px;
}
.el-date-editor.el-input{
  line-height: 40px;
}
.el-input--prefix .el-input__inner {
  padding-left: 0px;
}
.el-input--suffix .el-input__inner{
  padding-right: 0px;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 80px;
  height: 20px;
}
.time{
  margin-top: 15%;
}
.el-checkbox__label{
  color: #fff !important;
}
.feiy{
  margin-right: 10px;
}
